/* You can add global styles to this file, and also import other style files */
/*CSS GLOBAL DO PROJETO */
*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    padding-bottom: 500px;
}

.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.red{
    color: rgb(227, 94, 107);
}
.v-middle{
    vertical-align: middle;
}
